header {
	border-bottom: solid 2px black;
	background-color:white;
	img {
	width: 50%;
	}
	ul {
		height:100%;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		li {
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 1em;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 0em;
				height: 0.1em;
				top: 110%;
				left: calc(50% - 1.5em);
				background-color: #ee5f5b;
				transition: all ease 0.5s;
			}
			&:hover:before {
				width: 3em;
			}
		}
	}
}